@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FFF1E7;
}

*{
  font-family:'Times New Roman', Times, serif;
}
.background {
    background-image: url('../../public/bg.png');
}